</div>

<div class="container text-center mt-1" style="max-width: 95%">
    <a href="./" class = "btn btn-primary">Back</a>
</div>

<div style="height: 2rem;"></div> <!-- Padding so that footer doesnt overlay Back button -->

<div id="footer" class="fixed-bottom bg-dark bg-gradient text-light fs-6">
    <span class="float-end me-3">
        | <a href="https://gitlab.com/BafDyce/gc-web-tools"
            rel="noreferrer noopener"
            class="text-light"
        >Source Code @ GitLab</a>
        <!-- | ${CARGO_PKG_VERSION} (doesnt work unfortunately)-->
    </span>
</div>
</body>
</html>
