html {
    /* default font-size is 16px - this is set in the default browser stylesheet */
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
}

body {
    background-color: var(--bs-gray-100);
    /*font-size: xx-large;*/
}

.multi-variable,.multi-stage {
    border: 1px solid var(--bs-blue);
    padding: 0.1em;
    margin: 0.1em;
    font-size: 2rem;
}

div.multi-stage, div.multi-variable {
    background-color: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-dark);
}

.clickable:hover {
    cursor: pointer;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}
